// Le but est d'utiliser uniquement des variables dans vos couleurs, pour
// pouvoir tout modifier d'un coup pour les couleurs définitives

$black:black;
$white: white;
$grey: grey;
$primaryColor: rgb(145, 17, 17);
$lightPrimary: rgb(232, 72, 72);
$secondaryColor: rgb(5, 5, 119);
$lightSecondary: rgb(108, 108, 221);
